# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Version Control
.git
.gitignore

# IDE
.idea/
.vscode/

# Test cache files
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Misc
*.log
.DS_Store
